 <body style="background-color: green"> 
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mt-4">Full stack to-do list</h1>
        <div class="row" id="tasks"></div>
        <div class="row">
          <form id="create-task">
            <input id="new-task-content" type="text" placeholder="Enter a new task" required/>
            <button>Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>